* {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    padding: 8px;
    background: #405d72;
    margin: 0;
    font-size: larger;
    max-width: 100%;
    /*height: 62px;*/
}

.nav-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    margin-left: 0;
    padding: 4px;
}

.nav-item {
    text-decoration: none;
    color: rgb(238, 204, 12);
    padding: 2px;
}

li {
    margin: 12px 12px 12px 0;
    list-style: none;
    text-decoration: none;
}

.header .description {
    position: relative;
    animation: slide_down;
    animation-duration: 4s;
}

.header .btn-slack {
    position: relative;
    animation: slide_down_v2;
    animation-duration: 3s;
}

.header {
    padding: 24px;
    display: flex;
    background: #49b5e0;
    color: #ffffff;
}

.header-title {
    color: #18364b;
    font-size: 8vw;
    text-align: center;
    padding: 24px;
    position: relative;
    animation: slide_down;
    animation-duration: 4s;
}

.underline {
    border-bottom-style: solid;
    border-color: #49b5e0;
    padding-bottom: 0px;
}

.header-text {
    padding: 24px;
    text-align: center;
    font-size: 30px;
    max-width: 100%;
}

.btn-slack {
    margin-top: 18px;
    padding: 12px 24px;
    border-style: none;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
}

.btn-content {
    display: flex;
    justify-content: center;
}

.top {
    padding: 0;
    border-style: none;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 2%;
    cursor: pointer;
}

.top img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    border-style: none;
}

@media(max-width: 400px) {
    .btn-slack {
        width: 100%;
    }
    .btn-content {
        display: flex;
    }
}

.bot {
    justify-content: center;
    border-radius: 50%;
    height: auto;
    width: 400px;
    position: relative;
    animation: slide_down;
    animation-duration: 4s;
}

.desc {
    background-color: #f0f8ff;
    margin-top: 0;
}

.description-paragraph {
    /*margin: 18px 36px;*/
    padding: 32px;
    display: flex;
}

.reminder {
    padding: 0 32px;
}

.description-header {
    padding: 18px;
    position: relative;
    animation: slide_down;
    animation-duration: 2s;
}

.description-header p {
    /*margin-top: 28px;*/
    text-align: center;
    font-size: 42px;
}

.explanation-one,
.explanation-two,
.reminder p {
    font-size: larger;
    padding: 18px;
    /*margin-left: 16px;*/
    line-height: 1.8;
}

.general-demo {
    background-color: #7ae781;
    padding: 24px;
}

.demonstration {
    display: flex;
}

.general-demo p,
.img {
    text-align: center;
    font-size: 42px;
    padding: 18px;
}

.addbot .img-add,
.openticket .img-open,
.closeticket .img-close {
    background-color: rgba(8, 26, 59, 0.979);
    height: 320px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.btn-content p {
    padding-top: 5%;
}

span img {
    text-align: center;
    width: 36px;
    height: 36px;
    padding: 6px;
}

.img-open img {
    border-radius: 50%;
}

.img-close img,
.img-add img {
    border-radius: 12px;
}

.addbot,
.openticket,
.closeticket {
    max-width: 360px;
    margin: 0 auto;
    position: relative;
}

#ticky,
#close {
    color: #ff0000c7;
    background-color: #c4d0dd;
    padding: 3px;
    border-radius: 3px;
}

.addbot {
    border-radius: 30px;
    animation: slide_down;
    animation-duration: 2s;
}

.openticket {
    border-radius: 30px;
    animation: slide_down;
    animation-duration: 3s;
}

.closeticket {
    border-radius: 30px;
    animation: slide_down;
    animation-duration: 4s;
}

.addbot p,
.openticket p,
.closeticket p {
    font-size: 18px;
    line-height: 1.5;
    background-color: #f4f6f8;
    padding: 18px;
    color: gray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.info {
    height: 200px;
}

.info p {
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.adjourn {
    background-color: #f0f8ffe1;
    text-align: center;
    padding: 24px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.adjourn-header {
    padding: 24px;
    font-size: 42px;
}

.adjourn div p {
    padding: 24px;
    justify-content: center;
}

.adjourn button {
    background-color: #18364b;
    color: #abcde6;
    max-width: 100%;
    height: auto;
}

footer {
    padding: 28px;
    background-color: #17354ade;
    color: #f0f8ff;
    text-align: center;
    line-height: 2;
}

footer a {
    color: #f0f8ff;
}

.adjourn button:hover {
    background-color: gray;
    resize: none;
}

.header button:hover {
    background-color: #abcde6;
}

@media(max-width:800px) {
    .header,
    .description-paragraph,
    .reminder,
    .demonstration {
        flex-direction: column;
        text-align: left;
    }
    .addbot,
    .openticket,
    .closeticket {
        max-width: 360px;
    }
    .navbar {
        margin: 0 auto;
        padding: 2px;
    }
}

@media(max-width:600px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    .header-text,
    .header-title {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    .bot {
        width: 100%;
        margin-top: 18px;
    }
}

@media(max-width:800px) {
    .header-title {
        font-size: 10vw;
    }
}

@keyframes slide_down {
    0% {
        left: 0;
        top: -60px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes slide_down_v2 {
    0% {
        left: 0;
        top: -30px;
    }
    100% {
        left: 0;
        top: 0;
    }
}